@font-face {
	font-family: clockfont;
	src: url('../clock.ttf');
}
html, body {
	-ms-user-select: None;
 	-moz-user-select: None;
 	-webkit-user-select: None;
	margin: 0;
	height: 100%;
	overflow: hidden;
	background-color: #00000000;
}

#dialtone{
	display: none;
}